
.banner {
    background-image: url('../images/index-banner.png');
    /*Imagen de Free-Photos en Pixabay*/
    background-size: cover;
    background-position: center;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% 0 0.5% 0;
    border-radius: 7px;
}

.banner h2,
.banner p {
    color: white;
    text-align: center;
    width: 100%;
    user-select: none;
    line-height: 190%;
    background-color: #00000050;
}

.imagen-derecha2 h4 a {
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
}

.registro {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.imagen-izquierda {
    background-image: url('../images/imagen-comprar.png');
    /*Imagen de AmandaCullingford en Pixabay*/
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 3% 0 0%;
    border-radius: 7px;
}
.imagen-derecha {
    background-image: url('../images/imagen-vender.png');
    /*Imagen de Светлана Бердник en Pixabay */
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 3%;
    border-radius: 7px;
}

.tienda {
    background-image: url('../images/index-tienda.png');
    /*Imagen de Free-Photos en Pixabay*/
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 7px;
}

.exito {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.patrocinadores {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slideshowA {
    background-color: #F0870020;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0 0 7px;
}

.slideshowB {
    background-color: #8EE5E850;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0 0 7px;
}

.patrocinadores-derecha {
    background-position: center;
    background-color: #f0870020;
    padding: 0 3% 0 3%;
    width: 60%;
    height: 300px;
    font-size: 40px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 0%;
    border-radius: 0 7px 7px 0;
}
.patrocinadores-derecha h4 {
    margin: 0 0 20px 0;
}

.exito-izquierda {
    background-position: center;
    background-color: #8EE5E850;
    padding: 0 3% 0 3%;
    width: 60%;
    height: 300px;
    font-size: 40px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 0%;
    border-radius: 7px 0 0 7px;
}
.patrocinadores-derecha h4 {
    margin: 0 0 20px 0;
}


/*Inicia código para slideshow de casos de éxito*/

* {box-sizing:border-box}

.slideshowA,
.slideshowB,
.slideshow {
    max-width: 45%;
    min-height: 300px;
    position: relative;
    margin: auto;
}


/* Botones siguiente y atras */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background: #80808050;
    font-weight: bold;
    font-size: 100px;
    user-select: none;
}

.prev {
    border-radius: 0 7px 7px 0;
}

.next {
    right: 0;
    border-radius: 7px 0 0 7px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.80);
}

/* Descripciones */
.text-der {
    color: #f2f2f2;
    width: 100%;
    background-color: #00000090;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 140%;
    border-radius: 0 7px 7px 0;
}

.text-izq {
    color: #f2f2f2;
    width: 100%;
    background-color: #00000090;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 140%;
    border-radius: 7px 0 0 7px;
}

/*Termina código para slideshow*/

.proveedores-destacados {
    border: solid red 2px;
    display: flex;
    padding: 2px;
    justify-content:space-around;
    flex-direction: row;
    height: 600px;
}

.prov {
    border: solid rgb(5, 235, 5) 2px;
    display: flex;
    padding: 2px;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

.sobre-nosotros {
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.imagen-izquierda2 {
    background-image: url('../images/abaa0.jpg');
    /*Imagen de AmandaCullingford en Pixabay*/
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 300px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0%;
    border-radius: 7px 0 0 7px;
}
.imagen-derecha2 {
    /*Imagen de Светлана Бердник en Pixabay */
    background-position: center;
    background-color: #8EE5E850;
    padding: 0 3% 0 3%;
    width: 60%;
    height: 300px;
    font-size: 40px;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 0 0%;
    border-radius: 0 7px 7px 0;
}

.lista-actividades {
    display: flex;
}
.actividades {
    font-weight: 300;
    font-size: 25px;
    line-height: 120%;
    color: black;
}

.quienes {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.imagen-derecha2 h4 {
    margin: 0 0 20px 0;
}

a:hover {
    color: #8EE5E8;
}

.contenedor-responsive0 {
    display: flex;
    justify-content: space-between;
}

.contenedor-responsive1 {
    width: 50%;
    margin: 0 3% 0 0;
}

.contenedor-responsive2 {
    width: 50%;
    margin: 0 0 0 3%;
}

.contenedor-responsive1, .contenedor-responsive2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .contenedor-responsive1, .contenedor-responsive2 {
    flex: 50%;
    max-width: 100%;
    }
    
}

@media screen and (max-width: 1200px) {
    .contenedor-responsive3 {
        max-height: 0px;
        visibility: hidden;
    }
}

@media screen and (min-width: 1200px) {
    #ocultame1, #ocultame2 {
        visibility: hidden;
        max-height: 0px;
    }
}

.contenedor-responsive3 {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 5% 0 0 0;
}
.contenedor-responsive3 a,
#fix1 {
    width: 100%;
    color: black;
}
#ocultame1,
#ocultame2 {
    width: 100%;
}

.contenedor-responsive3 a:hover,
#fix1 a:hover
{
    color: #F08700;
}

#madre-espaciadores {
    display: flex;
    align-items: center;
    justify-content: center;
}

#espaciador-izq {
    width: 12.5%;
}

#espaciador-der {
    width: 12.5%;
}

.img-slide-izq {
    border-radius: 7px 0 0 7px;
    width:100%
}

.img-slide-der {
    border-radius: 0 7px 7px 0;
    width:100%
}

.h6 {
    text-align: center;
    margin-top: 2%;
    line-height: 150%;
    font-weight: 300;
}

.imagen-derecha2 p {
    padding: 0.5%;
    line-height: 120%;
    text-align: justify;
}