
.banner {
    background-image: url('../images/abaa1.jpg');
    /*Imagen de Free-Photos en Pixabay*/
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.banner a {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #00000060;
}

.abaa {
    display: flex;
    background: #D9D9D940;
}

.info {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    margin: 2px;
    borde
}

.texto-normal p a {
    font-weight: bold;
    color: #424D4B;
}

.imagen-izquierda1 {
    background-image: url('../images/abaa2.png');
    background-size: cover;
    background-position: center;
    width: 50%;
    min-height: 280px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-derecha1 {
    background-color: #FCFF6C15;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: auto;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagen-izquierda2 {
    background-color: #8EE4D815;
    background-size: cover;
    background-position: center;
    width: 50%;
    min-height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-derecha2 {
    background-image: url('../images/abaa3.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    min-height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-izquierda3 {
    background-image: url('../images/abaa4.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
    min-height: 430px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-derecha3 {
    background-color:#424D4B20;
    background-size: cover;
    background-position: center;
    width: 50%;
    min-height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-normal {
    margin: 5% 20% 5% 20%;
    line-height: 150%;
    color: black;
}