
.banner {
    background-image: url('../images/abaa1.jpg');
    /*Imagen de Free-Photos en Pixabay*/
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    margin: 1% 0 0 0;
    border-radius: 7px;
}

.banner a {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #00000060;
    position: relative;
    top: 20px;
    height: fit-content;
}

.divisor {
    height: 50px;
}

.abaa {
    display: flex;
    border-radius: 7px;
    margin: -2%;
}

.info {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFF6C15;
    border-radius: 7px;
}

.info2 {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: space-between;
    background-color: #8EE4D825;
    border-radius: 7px;
}

.info3 {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    background-color: #83838315;
    margin-bottom: 5%;
    border-radius: 7px;
}

.info3 iframe {
    height: 100%;
    width: 100%;
    border-radius: 7px 0 0 7px;
}

.texto-normal p a {
    font-weight: bold;
    color: #424D4B;
}

.imagen-izquierda1 {
    background-image: url('../images/abaa2.png');
    background-size: cover;
    background-position: center;
    width: 40%;
    min-height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0 0 7px;
}

.imagen-derecha1 {
    background-size: cover;
    background-position: center;
    width: 60%;
    height: auto;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagen-izquierda2 {
    background-size: cover;
    background-position: center;
    width: 60%;
    min-height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-derecha2 {
    background-image: url('../images/abaa3.jpg');
    background-size: cover;
    background-position: center;
    width: 40%;
    min-height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 7px 7px 0;
}

.imagen-izquierda3 {
    width: 40%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0 0 7px;
}

.imagen-derecha3 {
    background-color:#424D4B20;
    background-size: cover;
    background-position: center;
    width: 50%;
    margin: 0 5% 0 5%;
    min-height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90px 0 90px 0;
}

.texto-normal {
    margin: 5% 10% 5% 10%;
    line-height: 150%;
    color: black;
}

#quote {
    font-style: italic;
}

#autor {
    font-weight: 600;
    text-align: right;
}

#empresa {
    font-weight: 600;
    text-align: right;
}

.comilla {
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
}

#btn-cerrar-sesion {
    display:none;
}

.barra-busqueda {
    display:none;
}