.titulo {
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    flex-direction: row;
    height: 50px;
}

.perfil-cliente {
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0% 10% 5% 10%;
    padding: 0px 200px 100px 200px;
    justify-content: space-around;
    flex-direction: row;
    height: 500px;
}

.imagen-cliente {
    background-color: #f0870040;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.info-cliente {
    background-color: #f0870040;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
}

.info0 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.info1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.info2 {
    display: flex;
    padding: 8px;
    flex-direction: column;
}

#imagen {
    height: 100%;
    max-width: 100%;
}

.info1 button {
    background-color: #f08700;
}

.btn2 {
    background-color: #f08700;
}