.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.contenedor2 {
    margin: 50px;
    border: solid 2px #f08700;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px;
}

.titulo-registro {
    margin-bottom: 10%;
}

.contenedor2 input {
    margin: 10px;
}

.botones {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 30px 0px 0 0;
}

.botones button {
    background-color: #8EE5D8;
    margin: 10px;
    padding: 10px;
}

.info1 {
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 35px;
}

h5 {
    margin-bottom: 10%;
}

#slt-vacuna,
#slt-padecimiento {
    margin-bottom: 5%;
}