.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.formMs {
    margin: 50px;
    border: solid 2px #f08700;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px;
    font-weight: 700;
}

.contenedor3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px;
    font-weight: 700;
}

.titulo-registro {
    margin-bottom: 10%;
}

.contenedor2 input {
    margin: 10px;
}

.botones {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 30px 0px 0 0;
}

.botones button {
    background-color: #8EE5D8;
    margin: 10px;
    padding: 10px;
}

.info1 {
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 35px;
    width: 330px;
    justify-content: center;
}

h5 {
    margin-bottom: 10%;
}


/* OCULTADOS*/

.barra-busqueda {
    display: none;
}

.input-formularios2 {
    text-align: center;
    border: solid #00000060 1px;
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}