.contenedor-main {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-color: solid greenyellow;
    border-width: 40px;
}

.bloque-denuncia {
    display: flex;
    width: 950px;
    border: solid #F08700;
    background-color: #D9D9D9;
    align-items: center;
    flex-flow: row;
    padding: 20px;
}

.bloque-denuncia2 {
    display: flex;
    width: 950px;
    background-color: #D9D9D9;
    align-items: center;
    flex-flow: row;
    padding: 20px;
}

.bloque-denuncia contenido {
    display: block;
    border-color: solid greenyellow;
    border-width: 40px;
}

.imagen-reportado {
    border-radius: 150%;
    padding: 30px;
    width: 100px;
    height: 100px;
    right: 220px;
    bottom: 15px;
}

.btn-denuncia {
    display: block;
    background-color: #F08700;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
}