.contenedor1 {
    background-color: white;
    background-size: cover;
    background-position: center;
    border: solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 200px;
    margin-bottom: 1%;
    border-radius: 15px;
}

.contenedor2 {
    background-color: #f0870030;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 300px;
    margin-bottom: 1%;
}

.contenedor3 {
    background-color: #f0870030;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    margin-bottom: 1%;
    padding: 0 0 20px 0;
}

.contenedor4 {
    background-color: #f0870030;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;
    padding: 0 0 20px 0;
    margin-bottom: 1%;
}

.foto-proveedor {
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.datos-tarjeta {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
}

.datos-proveedor2 {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
}

.datos-proveedor2 div h4 {
    margin: 10px 0 30px 0;
}

.datos-proveedor3 {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    height: 10%;
}

.info0 {
    display: flex;
    flex-direction: column;
}

.pagar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 10px;
}

.info0 h4 {
    font-weight: bold;
}

.datos-proveedor2 h4 {
    margin-bottom: 1%;
}

.info1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.info01 {
    display: flex;
    flex-direction: row;
}

.info2 {
    display: flex;
    flex-direction: column;
}

.imagen-grooming {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.imagen-grooming2 {
    display: flex;
    padding: 0px 20px 0px 20px;
    flex-direction: row;
    justify-content: space-around;
    height: 90%;
}

#imagen {
    height: 100%;
    max-width: 100%;
}

.info1 button {
    background-color: #8EE5D8;
}

.btn2 {
    background-color: #f08700;
}

.ubicación {
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.redes-sociales {
    display: flex;
    padding: 0px 30px 0px 30px;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.redes-sociales div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redes-sociales div a {
    margin: 0 10px 0 0;
}

#insta2,
#fb2 {
    color: black;
    font-size: 150%;
}


/* OCULTADOS*/

.barra-busqueda {
    display: none;
}

#logo-P56 {
    height: 20px;
    max-width: 5%;
    margin-left: 2%;
}

.myradio_1 {
    margin-left: 50%;
}

.input-formularios {
    width: 500px;
    margin-top: 20px;
}

.input-formularios2 {
    width: 500px;
    margin-top: 20px;
}