.mis-clientes {
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
}

.mis-servicios {
    background-image: url('../images/mis-ordenes.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 7px;
}

.historial-ordenes {
    background-image: url('../images/mis-clientes.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 7px;
    width: 50%;
}

.ordenes-pendientes {
    background-image: url('../images/solicitudes-pendientes.png');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2px;
    width: 50%;
    border-radius: 7px;
}

.divisor {
    height: 70px;
}

h2 {
    font-weight: 700;
}

/* OCULTADOS*/

.barra-busqueda {
    display:none;
}

