/*Seccion 1*/
.contenedor1 {
    background-size: cover;
    background-position: center;
    border: solid rgb(55, 0, 253) 10px;
    display: flex;
    padding: 1.5%;
    justify-content: space-around;
    flex-direction: row;
    height: 600px;
}

.foto-proveedor {
    border: solid rgb(235, 5, 224) 2px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.contenedor1a {
    border: solid rgb(59, 16, 212) 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
.info1 {
    border: solid rgb(16, 230, 245) 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1%;
    width: 98%;
}

.nombre-negocio {
    border: solid red 3px;
    width: 80%;
    padding: 20px;
    height: 50px;
}

.info2 {
    border: solid rgb(28, 5, 235) 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1.5%;
    margin: 1%;
    width: 94.5%;
}

.info3 {
    border: solid rgb(28, 5, 235) 2px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1.5%;
    margin: 1%;
    width: 94.5%;
}

.info4 {
    width: 20%;
    margin: 0 0 0 78%;
}

/*Seccion 2*/
.contenedor2 {
    background-size: cover;
    background-position: center;
    border: solid rgb(55, 0, 253) 10px;
    display: flex;
    padding: 1.5%;
    justify-content: space-around;
    flex-direction: row;
    height: 300px;
}

.horario {
    border: solid rgb(235, 5, 224) 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.contenedor2a {
    border: solid rgb(59, 16, 212) 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: column;
    width: 40%;
}

/*Seccion 3*/

.contenedor3 {
    background-size: cover;
    background-position: center;
    border: solid rgb(55, 0, 253) 10px;
    display: flex;
    padding: 1.5%;
    justify-content: space-around;
    flex-direction: column;
    height: 300px;
}

/*Seccion 3 Fotografias*/
.contenedor4 {
    background-size: cover;
    background-position: center;
    border: solid rgb(55, 0, 253) 10px;
    display: flex;
    padding: 1.5%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 300px;
}


/*Seccion 4 Redes sociales*/
.contenedor5 {
    background-size: cover;
    background-position: center;
    border: solid rgb(55, 0, 253) 10px;
    display: flex;
    padding: 1.5%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 300px;
}



.datos-servicios {
    abackground-image: url('../images/perfil-cliente.jpg');
    background-size: cover;
    background-position: center;
    border: solid red 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: row;

    height: 600px;
}

.info-servicios {
    border: solid rgb(5, 235, 5) 0px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.info4 {
    border: solid rgb(28, 5, 235) 2px;
    display: flex;
    padding: 2px;
    justify-content: flex-end;
    flex-direction: row;
}

.info5 {
    border: solid rgb(235, 5, 224) 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.info6 {
    border: solid rgb(28, 5, 235) 2px;
    display: flex;
    padding: 2px;
    justify-content: flex-end;
    flex-direction: row;
}

.info7 {
    border: solid rgb(28, 5, 235) 2px;
    display: flex;
    padding: 2px;
    justify-content: flex-end;
    flex-direction: row;
}

.datos-representante {
    abackground-image: url('../images/datos-representante.png');
    background-size: cover;
    background-position: center;
    border: solid red 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: row;
    height: 300px;
}