.solicitudes-pendientes {
    background-image: url('../images/solicitudes-pendientes.png');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
}

.mis-servicios {
    background-image: url('../images/mis-mascotas.png');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
}

.lista-servicios {
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 45px;
    font-weight: 700;
    color: black;
    text-align: center;
    width: 100%;
}


.mis-clientes {
    background-image: url('../images/mis-clientes.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
    width: 100%;
}

/* OCULTADOS*/

.barra-busqueda {
    display:none;
}

#btn-iniciar-sesion {
    display:none;
}
