.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300 px;
    margin-bottom: 30px;
}

.contenedor2 {
    border: solid 2px #f08700;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px;
    font-weight: 700;
}

.catalogos {
    min-height: 500px;
}


/* OCULTADOS*/

.barra-busqueda {
    display: none;
}

#btn-iniciar-sesion {
    display: none;
}

button {
    margin-left: 20px;
}