.contenedor1 {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 610px;
}

.contenedor3 {
    border: solid 2px #f08700;
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    content: normal;
    font-weight: 1900;
}

.contenedor3 input {
    height: 200%;
    margin: 10%;
    width: 300px;
}

.contenedor3 textarea {
    text-align: center;
    border: solid #00000060 1px;
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    width: 300px;
    height: 150%;
    resize: vertical;
}

/* OCULTADOS*/

.barra-busqueda {
    display:none;
}

#btn-iniciar-sesion {
    display:none;
}