.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
}

.contenedor2 {
    border: solid 2px #f08700;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    padding: 150px;
    font-weight: 700;
}

contenedor2 input {
    height: 200%;
    margin: 50px;
    width: auto;
}

.contenedor2 a {
    color: #f08700;
    font-size: 15px;
}

.divisor2 a {
    color: #000000;
}

.txt-denuncia-descripcion {
    padding: 12px 20px;
}