.contenedor1 {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 610px;
}

.contenedor2 {
    border: solid 2px #f08700;
    border-radius: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.contenedor2 form {
    padding: 42px 20px;
    display: center;
}

.contenedor2 h2 {
    text-align: center;
    margin-bottom: 5%;
}

.items {
    display: flex;
    justify-content: space-between;
    margin: 4% 0 4% 0;
}

.items select {
    height: 40px;
    width: 350px;
    font-size: 18px;
    text-align: center;
}

.items button {
    background-color: #8EE5D8;
    margin: 40px 40px 40px 40px;
    padding: auto;
    color: black;
    width: 180px;
    border-radius: 7px;
}

#txt-descripcion-denuncia {
    resize: vertical;
    max-height: 300px;
    width: 350px;
    border-radius: 7px;
}

.input-formularios {
    width: 350px;
}

/* OCULTADOS*/

.barra-busqueda {
    display: none;
}

#btn-iniciar-sesion {
    display: none;
}