.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400 px;
}

.contenedor2 {
    border: solid 2px #f08700;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px;
    font-weight: 700;
}

.tabla {
    margin-top: 30px;
}

.tabla tr {
    height: 40px;
}

.tabla thead tr {
    width: 300px;
    text-align: center;
    background-color: #8EE5D8;
    ;
}

.tabla thead tr th {
    width: 400px;
    text-align: center;
}

.tabla tbody tr {
    border-bottom: 1px solid #424D4B;
}

.tabla tbody tr td {
    padding-top: 20px;
    width: 200px;
    text-align: center;
}

.btn-agregar {
    background-color: #8EE5D8;
    margin: 60px 60px 60px 60px;
    padding: auto;
    color: black;
    width: 180px;
    border-radius: 7px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300px;
}