.perfil-mascota {
    background-image: url('../images/perfil-mascota.jpg');
    background-size: cover;
    background-position: center;
    border: solid red 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: row;
    height: 600px;
}

.imagen-mascota {
    border: solid rgb(235, 5, 224) 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.info-mascota {
    border: solid rgb(5, 235, 5) 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: column;
    width: 75%;
}

.info1 {
    border: solid rgb(28, 5, 235) 2px;
    display: flex;
    padding: 2px;
    justify-content: flex-end;
    flex-direction: row;
}

.info2 {
    border: solid rgb(28, 5, 235) 2px;
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: row;
}