.titulo {
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 50px;
    justify-content: space-around;
    flex-direction: row;
    height: 50px;
}

.perfil-mascota {
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 0% 10% 5% 10%;
    padding: 0px 200px 100px 200px;
    justify-content: space-around;
    flex-direction: row;
    height: 300px;
    margin-bottom: 120px;
}

#icono-pata {
    font-size: 90px;
}

.info-mascota {
    background-color: #f0870040;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;
}

.info0 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
}

.info1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.info2 {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

#imagen {
    height: 100%;
    max-width: 100%;
}

button {
    background-color: #8EE5D8;
    padding: auto;
    color: black;
    border-radius: 7px;
    border: solid rgb(0, 0, 0) 1px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
}


/* OCULTADOS*/

.barra-busqueda {
    display: none;
}