.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #424D4B;
    ;
    /*border: solid red;*/
}

.divisoradmin {
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.barra {
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.aprobados {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.imagen-izquierda {
    background-image: url('../images/aprobado-izq.jpg');
    /*Imagen de AmandaCullingford en Pixabay*/
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 250px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.imagen-centro {
    background-image: url('../images/pendiente-cent.jpg');
    /*Imagen de Светлана Бердник en Pixabay */
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.imagen-derecha {
    background-image: url('../images/rechazadas.jpg');
    /*Imagen de Светлана Бердник en Pixabay */
    background-size: cover;
    background-position: center;
    width: 33.33%;
    height: 250px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagen-cliente {
    background-image: url('../images/clientes-admin.jpg');
    /*Imagen de Светлана Бердник en Pixabay */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
}

.imagen-izquierda2 {
    background-image: url('../images/ban-derecha.jpg');
    /*Imagen de AmandaCullingford en Pixabay*/
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
}

.imagen-derecha2 {
    background-image: url('../images/mis-clientes.jpg');
    /*Imagen de AmandaCullingford en Pixabay*/
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 250px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
}

.imagen-catalogo {
    background-image: url('../images/catalogo001.jpg');
    /*Imagen de Светлана Бердник en Pixabay */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
}

.imagen-patrocinador {
    background-image: url('../images/patrocinadores001.jpg');
    /*Imagen de Светлана Бердник en Pixabay */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
}

.imagen-acciones {
    background-image: url('../images/reportes.jpg');
    /*Imagen de Светлана Бердник en Pixabay */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
}


/* OCULTADOS*/

.barra-busqueda {
    display: none;
}

#btn-iniciar-sesion {
    display: none;
}