.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #424D4B;
    ;
    /*border: solid red;*/
}

.proveedores-destacados {
    display: flex;
    padding: 2px;
    justify-content: space-around;
    flex-direction: row;
    height: 600px;
}

.prov {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.imagen-prove {
    height: 130px;
    border-radius: 50%;
    width: -250px;
}

.imagen-prove1 {
    height: 130px;
    border-radius: 50%;
    width: -250px;
}

.imagen-prove2 {
    height: 130px;
    border-radius: 50%;
    width: -250px;
}

a:hover {
    color: black;
}

a:visited {
    text-decoration: none;
}

#imagen {
    height: 70%;
    max-width: 100%;
}