.contenedor1 {
    background-color: #d6cabb30;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 200px;
    margin-bottom: 1%;
    border-radius: 7px;
}

.contenedor2 {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 300px;
    margin-bottom: 1%;
    border-radius: 7px;
    border-color: black
}

.contenedor3 {
    border-color: solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    margin-bottom: 1%;
    padding: 0 0 20px 0;
    border-radius: 7px;
    border-color: black
}

.contenedor4 {
    background-color: #f0870030;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;
    padding: 0 0 20px 0;
    margin-bottom: 1%;
    border-color: solid black;
}

.datos-tarjeta {
    border-color: black;
}

.foto-proveedor {
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.datos-tarjeta {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
}

.info0 h4 {
    font-weight: bold;
}

.datos-proveedor2 h4 {
    margin-bottom: 1%;
}

.info1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.info01 {
    display: flex;
    flex-direction: row;
}

.info2 {
    display: flex;
    flex-direction: column;
}

#imagen {
    height: 100%;
    max-width: 100%;
}

.info1 button {
    background-color: #f08700;
}

button {
    background-color: #8EE5D8;
    padding: auto;
    color: black;
    border-radius: 7px;
    border: solid rgb(0, 0, 0) 1px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
}

.ubicación {
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.redes-sociales {
    display: flex;
    padding: 0px 30px 0px 30px;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.redes-sociales div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.redes-sociales div a {
    margin: 0 10px 0 0;
}

#insta2,
#fb2 {
    color: black;
    font-size: 150%;
}

.btn3 {
    background-color: #f08700;
    width: 100px;
    color: white;
}


/* OCULTADOS*/

.barra-busqueda {
    display: none;
}

#logo-P56 {
    height: 20px;
    max-width: 5%;
}