.contenedor-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contenedor-denuncias {
    display: flexbox;
    justify-content: center;
    width: 400px;
    padding: auto;
    margin: 10px;
}

.bloque-denuncia {
    display: flex;
    background-color: #FCFF6C;
    width: 650px;
    height: 100px;
    border: 3px solid #D9D9D9;
    padding: 20px;
}

.bloque-denuncia cat-paw {
    border-radius: 50px;
}

.btn-denuncia {
    display: ruby-base;
    background-color: #F08700;
    color: #fff;
    border-radius: 9px;
    padding: 5px;
}