.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400 px;
    margin-bottom: 100px;
}

.contenedor2 {
    border: solid 2px #f08700;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px;
    font-weight: 700;
}

.reporte.Imagen {
    border-radius: 150%;
    padding: 30px;
    width: 100px;
    height: 100px;
    right: 220px;
    bottom: 15px;
}

button {
    background-color: #8EE5D8;
    padding: auto;
    color: black;
    border-radius: 7px;
    border: solid rgb(0, 0, 0) 1px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    margin-left: 20px;
}


/* OCULTADOS*/

.barra-busqueda {
    display: none;
}

#btn-iniciar-sesion {
    display: none;
}